.component-display {
  background-color: #e0e0e0;
  text-align: right;
  font-weight: 200;
  flex: 0 0 auto;
  width: 480px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.component-display > div {
  font-size: 1.7rem;
  padding: 0.2rem 0.7rem 0.1rem 0.5rem;
}
